.button, .button-grey-bg, .button-white-bg {
    width: 150px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
    border-radius: 20px;
    background-color: var(--foreground);
    font-weight: 700;
    font-size: large;
}

#topHeader {
    background-color: var(--secondary);
    height: 4rem;
    position: sticky;  width: 100%;
    z-index: 1001; 
    transition: opacity 0.1s ease;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
        color: var(--background);
    font-weight: bolder;
}

.nav > p {
    font-size: 16px;
}

#prayerIcon {
    width: 4rem;
    height: 7rem;
}



#header {
    background-color: var(--background);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    transition: margin-top 0.1s ease;
    width: 100%;
}

#header > img 
{
  border-right: 1px white solid;

}


.link {
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    transition-duration: 0.5s;
}

.link:hover {
    color: var(--secondary-font);
    transition-duration: 0.5s;
}

.button:hover, .button-grey-bg:hover, .button-white-bg:hover {
    background-color: var(--background);
    border: 3px var(--foreground) solid;
    color: var(--foreground);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.icon {
    color: var(--background);
    font-size: x-large
}