#buttons-lid-worden {
    display: flex;
    gap: 4rem;
    padding: 1rem 0rem 2rem 0rem;
}

#buttons-lid-worden a:nth-child(2):hover {
    border: none;
    background-color: var(--background);
    color: var(--foreground);
}