#intro-contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 3rem;
    color: var(--gray);
}

#intro-contact>h2, #doneren-payment > h2, #lid-worden-form > h2 {
    font-size: 40px;
    font-weight: 600;
}

#intro-contact>p {
    font-size: 16px;
    width: 50%;
}


#intro-contact>p>a {
    font-size: 16px;
    font-weight: 600;
    color: var(--background);
    transition-duration: 0.5s;
}

#intro-contact>p>a:hover {
    color: var(--secondary-font);
    transition-duration: 0.5s;
}

#container-contact {
    flex-direction: column;
    align-items: baseline;
}

.container-title {
    background-color: var(--background);
    width: 100%;
    padding: 2rem 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

#links-back {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: bold;
}

#links-back > svg {
    font-weight: bolder;
    font-size: 15px;
}