#intro-contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 2rem;
    color: var(--gray);
}

#intro-contact>h2 {
    font-size: 40px;
    font-weight: 600;
}

#intro-contact>p {
    font-size: 16px;
    width: 50%;
}


#intro-contact>p>a {
    font-size: 16px;
    font-weight: 600;
    color: var(--background);
    transition-duration: 0.5s;
}

#intro-contact>p>a:hover {
    color: var(--secondary-font);
    transition-duration: 0.5s;
}

#container-contact {
    flex-direction: column;
}

#container-title-contact {
    background-color: var(--background);
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

#links-back {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}