#intro, #gebedstijden-container, #container-contact {
    background-color: var(--foreground);
    padding-bottom: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro {
    padding-bottom: 0rem;
}



#box, #gebedstijden-intro {
    display: flex;
    flex-direction: row;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-color: var(--background);
    padding: 5rem 3rem;
    background-size: 20px 20px; 
    justify-content: space-between;
}

#box > div {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
}

#box > div > h1, #gebedstijden-intro > h1 {
    font-size: 60px;
    line-height: 72px;
    background-color: var(--background);
    padding-bottom: 1rem; 
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 20px 20px; 
}


#box > div > p {
     background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 20px 20px; 
    background-color: var(--background);
    text-align: left;
    width: 95%;
    padding-bottom: 2rem;
}

#box > img {
    width: auto;
    height: 25rem;
    border-radius: 10px;
}

#introButton {
    background-color: var(--foreground);
    color: var(--background);
}

#introButton:hover {
    background-color: var(--background);
    color: var(--foreground);
    border: 3px solid var(--foreground);
}